@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: var(--color-indigo-600);
  --color-primary-dark: var(--color-indigo-700);
  --color-secondary: var(--color-emerald-500);
  --color-accent: var(--color-emerald-400);
  
  --color-background: var(--color-zinc-50);
  --color-foreground: var(--color-zinc-950);
}

:root {
  --background: #fafafa;
  --foreground: #09090b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #fafafa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
